<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1600x1200.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1600,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,1200}}</string>
                <key>sourceSize</key>
                <string>{1600,1200}</string>
            </dict>
            <key>kr/LevelDemo.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1204},{700,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,600}}</string>
                <key>sourceSize</key>
                <string>{700,600}</string>
            </dict>
            <key>kr/LevelDemo_480_800.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1204},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>kr/back_ground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{800,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,482}}</string>
                <key>sourceSize</key>
                <string>{800,482}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6f62c6caa8d9d489f5b23230288bcfc$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
