<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body/body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,660},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{44,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,931},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,869},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body12.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,762},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body14.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,516},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body16.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,706},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{42,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body17.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,824},{42,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body19.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,598},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,868},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{44,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,945},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,869},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>body/body7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,951},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bubble2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{150,444}}</string>
                <key>offset</key>
                <string>{181,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,38},{150,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bullet/bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,766},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>bullet/bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,700},{32,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{32,14}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>bullet/laser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,646},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>bullet/laser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,516},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>bullet/laser3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,700},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>default/body.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,824},{42,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>default/bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,766},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>default/gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,847},{44,20}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{44,20}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>explode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,734},{11,12}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,49},{11,12}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,734},{11,12}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,49},{11,12}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,516},{63,90}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,90}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode11.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,516},{59,82}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,765},{51,80}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,80}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode13.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,608},{49,86}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{49,86}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode14.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,608},{45,90}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{45,90}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode15.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,776},{55,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,94}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,682},{47,16}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode17.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,931},{47,12}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{47,12}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,750},{37,34}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{37,34}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,824},{43,56}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{43,56}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,776},{55,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{55,94}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,960},{61,78}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,682},{57,78}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{57,78}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,700},{63,84}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,872},{65,88}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,88}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>explode9.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,872},{63,86}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,789},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gun/gun10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,869},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>gun/gun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,765},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>gun/gun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,516},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>gun/gun14.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,847},{44,20}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{44,20}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>gun/gun15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,847},{44,20}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{44,20}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>gun/gun16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,600},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>gun/gun17.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,962},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>gun/gun18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,962},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>gun/gun9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857be771538427db8216e31df49237c3$</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
